<div class="fullcontent" >
    <div class="headings">
        <h1> <img src=".../../../../../assets/img/icon.png" class="iconImg">My Study Budsdy</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minima libero, quisquam voluptates reprehenderit quia! Sit vel vero officiis doloribus?Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ea nisi facere earum optio eos dolorum ipsam, quae nemo incidunt!</h2>
    </div>
    
    <div class="formbox">
          
       
        <br>
        <h3>Register</h3>
        <form id="form" action="" method="post">
            <label for="">Username</label>
            <input type="text" name="username" class="asd"/>
            <label for="">Email</label>
            <input type="text" name="username" class="asd"/>
            <label for="">Password</label>
            <input type="password" id="" name="password" class="asd"/>
            <input id="btn" type="submit" name="submit" value="Sign up" class="mainbox">
            <label for="">Already have a account </label>
            <a href="register.html" class="mainbox">Register Now</a>
        </form>	
    </div>
</div>
